<p id="notice"><%= notice %></p>

  <% if user_signed_in? %>
    <% @posts.each do |post| %>
      <tr>
       <h2> <%= link_to post.title, post %> </h2>
       <p align="right">Posted <%= time_ago_in_words(post.created_at) %>ago </p><hr>
    <% end %>
  <br>
  <% else %>
  <h1>No Access privilege </h1>
  <%end%>
<%# style this website %>